
<div class="col-md-12 col-sm-12" *ngIf = singlePerson>
    <div class="card-container">
       <div class="card">
           <div class="front">
               <div class="cover">
                   <img src="assets/images/rotating_card_thumb2.png">
               </div>
               <div class="user">
                   <img class="img-circle" src="assets/images/avatar.jpg">
               </div>
               <div class="content">
                   <div class="main">
                       <h3 class="name">{{singlePerson.firstname +' '+ singlePerson.lastname }}</h3>
                       <p class="profession">{{singlePerson.email | uppercase}}</p>
                          </div>
                  </div>
           </div> <!-- end front panel -->
           <div class="back">
              <div class="content">
                   <div class="main">
                       <h4 class="text-center"></h4>
                         <div class="stats-container">
                           <div class="stats">
                               <h4></h4>
                             
                           </div>
                           <div class="stats">
                               <h2>WELCOME ON CUSTOMER APP</h2>
                               <h4>HAPPY TO SEE YOU!</h4>
                               </div>
                          </div>

                   </div>
               </div>
              </div> <!-- end back panel -->
       </div> <!-- end card -->
   </div> <!-- end card-container -->
</div>