
<div class="container detail">
  <p *ngIf = messageError1>{{ messageError1 }}</p>
  <p *ngIf = messageErrorDelete>{{ messageErrorDelete }}</p>
   <div class="row justify-content-center">
    <div class="card " style="width: 30rem;">
        <img src="assets/images/default-picture.jpg" class="card-img-top" alt="{{person.lastname}}">
        <div class="card-body">
          <h5 class="card-title">Firstname: {{ person.firstname |uppercase }}</h5>
          <h5 class="card-title">Lastname: {{ person.lastname |uppercase }}</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"> City: {{ person.city }} </li>
          <li class="list-group-item">Age: {{ person.age }} Years Old</li>
          <li class="list-group-item"> Email: {{ person.email | uppercase }} </li>
          <li class="list-group-item"> Phone Number: {{ person.phone_number }} </li>
        </ul>
      
   </div>
</div>
<div class="container detail2 ">
    <div class="row">
        <button class="btn btn-secondary back mr-auto" (click) = 'goBack()'> <fa-icon icon="backward"></fa-icon> GO BACK</button>
        <button class="btn btn-danger delete" (click) = 'delete(person)'> <fa-icon icon="trash-alt"></fa-icon>  DELETE</button>
    </div>
</div>