.detail{
    margin-top: 150px;

}
.back{
    float: left;
}
.delete{
    float: right;
}
.detail2{
    margin-bottom: 50px;
}
p{
    color: red;
    text-align: center;
    font-size: 25px;
}
h5,li{
    text-align: center;
}