
.jumbotron{
    /* avec angular, lorsque tu veux insérer une image en background, il faut penser à 
    montrer le chemin du dossier en partant de la racine 'src'.
    Par contre dans le template, il faut passer par le dossier 'asset'*/
    background-image: url('src/assets/images/rimini-banniere.jpg');
    background-position: 20% 50%;
    height: 250px;
    margin-bottom: 50px;
    color: white;
}

.jumbotron h1{
    text-align: center;
    padding-top: 50px;
}

.freccia{
    border-bottom: 2px solid #4b4b4b;
}
a{
    float: right;
    margin-right: 10px;
}