<!--début ancre nommé-->
<div id="bouton"></div>

<!--le jumbotron avec l'image d'arrière plan-->
    <div class="jumbotron jumbotron-fluid">
          <h1>{{timer$sub}}</h1>

     </div>

<!--flèche entre l'image bannière et le bloc liste-->
<div class="container freccia">

</div>
<br><br>
<div class="container">
    <div class="row">
        <div class="col-md-7 col-sm-7">
            <app-list-personne (evenementList) = 'eventCv($event)'></app-list-personne>
        </div>
        <div class="col-md-5 col-sm-5">
           <app-rotation-single-personne [singlePerson] = 'personeCv'></app-rotation-single-personne>
        </div>
    </div>
</div>
<!--lien de l'ancre pour remonter au sommet de la page-->
<a href="#bouton"><button class="btn btn-secondary">UP</button></a>
<br><br>
<!--flèche entre l'image bannière et le bloc liste-->
<div class="container freccia">

</div>

<!-- avec angular, lorsque tu veux insérer une image en background, il faut penser à 
    montrer le chemin du dossier en partant de la racine 'src'.
    Par contre dans le template, il faut passer par le dossier 'asset' -->