div.container-fluid{
    margin-bottom: 20px;
    background-image:url('src/assets/images/erro.jpg');
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
    
    
}