<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" [routerLink] = "''">IFTS-2020</a>
        <!--déplier le bouton de navigation sur mobile-->
        <!--Pour remédier à ce problème, je vous conseille de vous rendre sur le site de bootstrap et dans la section
        'navbar' puis de réduire la fenetre du browser, vous remaquriez que le bouton du menu apparait, 
      ouvrez la fénetre d'inspection des élements, retrouvez la partie du code qui gère la navbar et cliquez sur le bouton du navbar.
    NB: vous verrez que lorsque vous cliquez sur le bouton, il apparait une classe 'show', cette classe est chargée d'afficher
  le menu quand la fenetre est reduite seulement elle est par defaut à 'false'.
  * pour l'activer, nous allons mettre dans le code de la navbar dans la partie bouton un évènement click et l'associer une fonction
, puis toujours dans le code de la navbar et cette fois dans la partie ou se présentait la classe show, nous allons y insérer
une directive [ngClass] et lui associer la classe 'show' que nous avons vu lors du click puis lui donner une variable,
  puis se rendre dans la partie .ts et definir la variable associée  au show à false puis dans notre fonction du bouton click,
  nous allons associer à cette variable une valeur contraire à chaque fois qu'on clique dessus-->
        <button (click) = 'boutonDeplier()' title = 'CLICK HERE FOR MENU' class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div [ngClass] = "{show:visibility}" class="collapse navbar-collapse justify-content-end " id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item mr-4 active">
              <a class="nav-link " [routerLink] = "''">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item mr-3">
              <a class="nav-link" [routerLink] = "'add'"><fa-icon icon="user-plus"></fa-icon> Add Profile</a>
            </li>
          </ul>
        </div>
      </nav>
</div>


