<br>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <div class="row justify-content-center">
        <nav aria-label="...">
          <ul class="pagination ">
            <li class="page-item  mr-1">
              <a class="page-link" [routerLink] = "''" tabindex="-1" aria-disabled="true"><fa-icon icon="backward"></fa-icon> Previous </a>
            </li>
            <li class="page-item mr-1"><a class="page-link" [routerLink] = "''">1</a></li>
            <li class="page-item mr-1" aria-current="page">
              <a class="page-link" [routerLink] = "''">2 <span class="sr-only">(current)</span></a>
            </li>
            <li class="page-item mr-1"><a class="page-link" [routerLink] = "''">3</a></li>
            <li class="page-item mr-1">
              <a class="page-link" [routerLink] = "''"> Next <fa-icon icon="forward"></fa-icon> </a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="row justify-content-center titre ">
        <h6>IFTS-PROJECT-WORK NARCISSE & EUGENIO</h6>
      </div>
    </div>
   
  </div>