img{
    width:110px;
    height: 100px;
    padding: 10px;
    margin-right: 40px;
}
.item{
    background-color: #2f3640;
    color: #f5f6fa;
    border-radius: 5px;
    
}
.error{
    text-align: justify;
    color: red;
    font-size: 25px;
}
p{
    display: inline-block;
    padding-top: 20px;
}