<p class="error" *ngIf = message>{{ message }}</p>

<div class="container"> 
    <div class="list-group-item" *ngFor = 'let element of personneItem'>
        <div (mouseover) = 'affiche(element)' class="item" (click) = 'cambia(element)'>
            <img src="assets/images/default-picture.jpg" alt="{{element.lastname}}">
       <p > {{ element.firstname|uppercase }} <br>{{ element.lastname|uppercase }} <br>{{ element.email }}</p>
        </div>
    </div>
</div>
