.add{
    margin-top: 150px;
}
h1.profile{
    text-align: center;
    color: #2d3436;
}
/*gestion des classes des formulaires lors de la navigation ou lors du controle*/
.ng-invalid.ng-touched{
    border-color: red;
}
p{
    color: red;
}
.erreur{
    text-align: center;
    color: red;
    font-size: 25px;
}