<div class="container add">
    <h1 class="profile">FILLS CAMPS TO CREATE YOUR PROFILE</h1>
    <p class="erreur" *ngIf = message>{{ message }}</p>
    <br><br>
    <form #form = "ngForm">
        <!--lastname-->
        <label for="lastname">Lastname*:</label>
        <p *ngIf = 'lastname.invalid && lastname.touched'> Required fields, max 200 digits.</p>
        <input 
         type="text" id="lastname"
         ngModel name = "lastname"
         required
         #lastname = 'ngModel' 
         class="form-control">

        <!--firstname-->
         <label for="firstname">Firstname*:</label>
         <p *ngIf = 'firstname.invalid && firstname.touched'> Required fields, max 200 digits.</p>
         <input 
          type="text" id="firstname"
          ngModel name = "firstname"
          required
          #firstname = 'ngModel' 
          class="form-control">

          <!--age-->
          <label for="age">Age*:</label>
          <p *ngIf = 'age.invalid && age.touched'> Required fields, max 3 digits.</p>
          <input 
           type="number" id="age"
           ngModel name = "age"
           required
           #age = 'ngModel'
           class="form-control" >

        <!--city-->
         <label for="city">City*:</label>
         <p *ngIf = 'city.invalid && city.touched'> Required fields, max 50 digits.</p>
         <input 
          type="text" id="city"
          ngModel name = "city"
          required 
          #city = 'ngModel'
          class="form-control">

         <!--email-->
          <label for="email">Email*:</label>
          <p *ngIf = 'email.invalid && email.touched'> Required fields.</p>
          <input 
           type="email" id="email"
           ngModel name = "email"
           required 
           placeholder="Example@project-work.com"
           #email = 'ngModel'
           class="form-control" >
           
           <!--phone number-->
            <label for="Phone">Phone Number*:</label>
            <p *ngIf = 'phone.invalid && phone.touched'> Required fields, max 10 digits.</p>
            <input 
             type="number" id="phone"
             ngModel name = "phone_number"
             required 
             #phone = 'ngModel'
             class="form-control">

                <br>
             <button [disabled] = 'form.invalid'  class="btn btn-primary" (click) = 'create(form.value)'>
                 CREATE PROFILE
             </button>
         
    </form>
</div>
